/.idea/

# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.LeetCode.iml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/obj
/.idea
/bin
/.vs
/LeetCode/bin/Debug
/LeetCode/obj
/LeetCode.sln.DotSettings.user
